---
import 'photoswipe/style.css'
import photoInfo from '@/data/imginfo.json'
const offset = 21
---

<div
	class='grid grid-cols-2 max-w-6xl gap-12 mx-auto pswp-gallery
rounded-lg items-center justify-center'
	id='gallery'
>
	{
		Array.from({ length: offset }).map((_, i) => {
			const { height, width, info } = photoInfo[i]
			return (<div>
				<a
					class='enlace_div'
					id={`img-${i + 1}.jpg`}
					class='hover:scale-105 transition-all relative duration-1000'
					href={`/gallery/img1/img-${i + 1}.jpg`}
					data-pswp-width={width}
					data-pswp-height={height}
					target='_blank'
				>
					<img
						class='object-cover w-full h-auto'
						loading='lazy'
						src={`/gallery/img1-w/img-${i + 1}.webp`}
						alt=''
					/>

					<img
						class='blur-md opacity-0 group-hover:opacity-100 absolute inset-0 transition contrast-150 -z-10 object-cover'
						loading='lazy'
						src={`/gallery/img1-w/img-${i + 1}.webp`}
						alt=''
					/>
				</a>
                <p class='img_info'>{info}</p></div>

			)
		})
	}
</div>
<script>
	import PhotoSwipeLightbox from 'photoswipe/lightbox'

	document.addEventListener('astro:page-load', () => {
		const lightbox = new PhotoSwipeLightbox({
			gallery: '#gallery',
			children: 'a',
			pswpModule: () => import('photoswipe')
		})

		lightbox.init()
	})
</script>
<style>
	div img {
		object-fit: contain;
	}
	.img_info {
		text-align: center;
        font-family: monospace;
	}
	.enlace_div {
		text-decoration: none;
	}
</style>
